.profile {
  box-sizing: border-box;
  padding: 80px 0 70px;
  width: 100%;
  min-height: 650px;
  height: 89vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__greeting {
  margin: 0 0 123px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #000;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profile__container {
  width: 410px;
  padding: 0 0 16px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
}

.profile__container:last-of-type {
  padding: 17px 0 0;
  border: none;
  position: relative;
}

.profile__label {
  margin: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  text-align: left;
}

.profile__input {
  margin: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  background-color: transparent;
  border: none;
  text-align: end;
}

.profile__input-error {
  max-width: 100%;
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: #ff4062;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}

.profile__input-error_email {
  top: 32px;
}

.profile__error {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #ff4062;
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 0;
}

.profile__button {
  margin: 220px 0 16px;
  color: #000;
  border: none;
  outline: none;
}

.profile__button:hover {
  opacity: .8;
  cursor: pointer;
}

.profile__button_edit {
  font-size: 13px;
  line-height: 16px;
  color: #000;
  background-color: transparent;
}

.profile__button_save {
  padding: 13px 0 15px;
  width: 396px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 3px;
}

.profile__button_disabled {
  color: #c2c2c2;
  background-color: #f8f8f8;
}

.profile__button_disabled:hover {
  opacity: 1;
  cursor: default;
}

.profile__link {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #ff4062;
  text-decoration: none;
}

.profile__link:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .profile {
    padding: 80px 0 70px;
  }

  .profile__greeting {
    margin: 0 0 96px;
  }

  .profile__save {
    margin: 210px 0 16px;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    padding: 70px 0 40px;
    justify-content: space-between;
  }

  .profile__greeting {
    margin: 0 0 80px;
  }

  .profile__container {
    width: 260px;
    padding: 0 0 16px;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
  }

  .profile__input {
    letter-spacing: -.01em;
  }

  .profile__save {
    margin: 379px 0 16px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__link {
    font-size: 12px;
    line-height: 15px;
  }
}