.navigation {
  margin: 5px 0 0 62px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation_landing {
  background-color: #f3c1f8;
}

.navigation__link {
  margin: 0 16px 0 0;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  text-decoration: none;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__link:last-of-type {
  margin: 0;
}

.navigation__link:hover {
  opacity: .8;
  cursor: pointer;
}