.saved-movies {
  box-sizing: border-box;
  width: 100%;
  min-height: 543px;
  padding: 70px 70px 80px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .saved-movies {
    padding: 70px 30px 160px;
  }
}

@media screen and (max-width: 500px) {
  .saved-movies {
    padding: 70px 10px 80px;
  }
}